@page "/new-agreement"
@page "/edit-agreement"

@inject HttpClient Http
@inject NavigationManager NavigationManager

@if (ShowWizard)
{
    <Wizard Steps="@_contentUiSteps" OnFinish="@OnFinish" StartingStep="@StartingStep"></Wizard>
}
else
{
    <div class="demo-alert demo-alert-success" role="alert">
        The order was submitted successfully.
    </div>
}


@code {
    private bool ShowWizard { get; set; } = true;
    private int StartingStep { get; set; } = 0;

    private static AgreementResponse? _dataModel = null;
    private List<UiStep>? _contentUiSteps;

    protected override void OnAfterRender(bool firstRender)
    {
        if (!ShowWizard && !firstRender)
        {
            NavigationManager.NavigateTo("./Agreements");
        };
    }

    public void OnStepFinish(WizardStepChangeEventArgs args, AgreementResponse agreementResponse)
    {
        _dataModel = agreementResponse;

        if (args.TargetIndex != 3) return;
        agreementResponse.CreatedBy = "Test User";
        HandleDataModelChanged(agreementResponse);
    }

    private static void HandleDataModelChanged(AgreementResponse newDataModel)
    {
        _dataModel = newDataModel;
    }

    private async Task OnFinish()
    {
        var result = await
            Http.PostAsJsonAsync("api/Agreements", _dataModel);
        var msg = await result.Content.ReadFromJsonAsync<int>();
        ShowWizard = false;
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        _contentUiSteps =
        [
            new UiStep
            {
                StepLabel = "Agreement AgreementType",
                ChildContent = (dataModel) =>
                {
                    // Render your component here
                    return builder =>
                    {
                        builder.OpenComponent(0, typeof(AgreementTypeInfo));
                        builder.AddAttribute(1, "DataModel", dataModel);
                        builder.CloseComponent();
                    };
                },
                OnChange = OnStepFinish,
            },


        new UiStep
            {
                StepLabel = "Customer Information",
                ChildContent = (dataModel) =>
                {
                    // Render your component here
                    return builder =>
                    {
                        builder.OpenComponent(0, typeof(AgreementCustomerInformation));
                        builder.AddAttribute(1, "DataModel", dataModel);
                        builder.CloseComponent();
                    };
                },
                OnChange = OnStepFinish,
            },


        new UiStep
            {
                StepLabel = "Sites Information",
                ChildContent = (dataModel) =>
                {
                    // Render your component here
                    return builder =>
                    {
                        builder.OpenComponent(0, typeof(SitesAndDocuments));
                        builder.AddAttribute(1, "DataModel", dataModel);
                        builder.CloseComponent();
                    };
                },
                OnChange = OnStepFinish,
            },


        new UiStep
            {
                StepLabel = "Review",
                ChildContent = (dataModel) =>
                {
                    // Render your component here
                    return builder =>
                    {
                        builder.OpenComponent(0, typeof(AgreementReview));
                        builder.AddAttribute(1, "DataModel", dataModel);
                        builder.CloseComponent();
                    };
                },
                OnChange = OnStepFinish,
            }
        ];
    }

}
